<header>
    <section class="navbar">
        <a href="">Livros</a>
        <a href="">Cadastrar</a>
    </section>
</header>

<main>
    <div class="livros">
        <h1>Nome do livro</h1>
        <p>Lorem ipsum dolor sit DESCRIÇÃO DO LIVRO amet consectetur <br> 
        adipisicing elit. Natus dolorum iste soluta provident, saepe <br> eaque sunt odio excepturi veniam <br>
         accusamus nostrum adipisci. </p>
        
    </div>
</main>